{% extends "layout.html" %}
{% load tag_extras %}

{% block body %}

<div id="post">
    <div class="post" id="main-post" data-postid="{{ post.postid }}">
        <div class="post-header">
            <h3 class="post-title">{{ post.title }}</h3>
            <div class="post-like" id="{{post.category}}-like-{{ post.postid }}">
                {% if liked|keyvalue:post.postid %}
                <span class="like-icon" data-like="liked" id="li-{{ post.postid }}">
                    <img src="/static/bheart.png" class="like-icon-img" id="lii-{{ post.postid }}">
                </span>
                {% else %}
                <span class="like-icon" data-like="unliked"id="li-{{ post.postid }}" >
                    <img src="/static/heart.png" class="like-icon-img" id="lii-{{ post.postid }}">
                </span>
                {% endif %}
            </div>
        </div>
        <div class="post-body">
            {% if post.category == "quote" %}
            <div class="post-text">{{ post.text }}</div>
            <div class="post-description">{{ post.description }}</div>
            {% elif post.category == "speech" %}
            <div class="post-video">
                <div class="player-container">
                    <div class="plyr__video-embed js-player" id="player-{{ post.postid }}">
                        <iframe src="{{ post.src }}" allowfullscreen rel="0" id="speech-video-player"></iframe>
                    </div>
                </div>
                <script>
                    const player = new Plyr('.js-player');
                </script>
            </div>
            <div class="post-description">{{ post.description }}</div>
            {% elif post.category == "article" %}
            <div class="post-description">{{ post.description }}</div>
            <iframe src="{{ post.text }}" class="article-text-reduced"></iframe>
            {% elif post.category == "movie" or post.category == "album" %}
            <div class="post-description">{{ post.text }}</div>
            <img class="movie-image" src="{{ post.image }}">
            {% endif %}
        </div>
        
        <div class="post-footer">
            <div class="post-tags">
                {% for tag in post.tags %}
                <span class="tag">
                    {{ tag }}
                </span>
                {% endfor %}
            </div>
            <div class="post-date">{{ post.readablecreated }}</div>
        </div> 
    </div>
</div>
<h2 id="results-title">Related posts</h2>

{% include "queries/results.html" %}

{% endblock %}