{% extends "layout.html" %}


{% block body %}

<div id="info-body">
    <div class="i-form">
        <form action="/forgotpassword/change" method="post">
            {% csrf_token %}
            {% if authenticated %}
            <input name="username" placeholder="Username" value="{{ username }}" hidden>
            <input name="email" placeholder="Email" value="{{ email }}" hidden>
        
            <input name="new-pw" placeholder="Password" type="password" class="password index-input ii-big" value="{{ pw }}">
            <br>
            <input name="verify-new-pw" placeholder="Password Again" type="password" class="password index-input ii-big" value="{{ verify_pw }}">
            <br>
            <div id="show-pw">
                <input type="checkbox" id="password-checkbox"><span id="show-pw-t">show passwords</span>
            </div>
            <br>
            <input name="set_password" type="submit" value="Set New Password" class="index-submit">
            {% else %}
            <input name="username" placeholder="Username" value="{{ username }}" class="index-input ii-big">
            <br>
            <input name="email" placeholder="Email" value="{{ email }}" class="index-input ii-big">
            <br>
            <input name="code" type="number" placeholder="CODE" class="index-input ii-big">
            <br>
            <input name="check_code" type="submit" value="Verify" class="index-submit">
            {% endif %}
        </form>   
    </div>
  
    <div class="e-message">
      {{ message }}
    </div>

    <a href="/forgotpassword" class="index-link-alt">Send another code</a>
</div>
{% endblock %}