{% extends "layout.html" %}

{% block body %}

<div id="info-body">
    <div class="i-form">
        <form action="/forgotpassword" method="post">
            {% csrf_token %}
            {% if code_sent %}
                <input name="email" hidden value="{{ email }}" class="index-input ii-big">
                <input name="code" type="number" placeholder="CODE" class="index-input ii-big">
                <br>
                <input name="check_code" type="submit" value="Verify Code" class="index-submit">
            {% else %}
                <input name="email" placeholder="Email" value="{{ email }}" class="index-input ii-big">
                <br>
                <input name="send_code" type="submit" value="Send Password Reset Code" class="index-submit">
            {% endif %}
        </form>        
    </div>
  
    <div class="e-message">
      {{ message }}
    </div>
</div>

{% endblock %}