{% extends "staff/staff.html" %}

{% block staff %}
<script>
    $(() => {
        $('#add-tags').keyup(function (event) {
            if (event.which == 32) {
                let vals = $(this).val().split(' ')
                let val = vals[vals.length - 2]

                if (val && val.length <= 30) {
                    let valspan = $(`<span>${val}</span>`)

                    let x = $('<span>x</span>')
                        .attr({ class: 'tag-x', id: `${val}-x` })
                        .click(function () {
                            let id = $(this).attr("id").replace('-x', '')
                            $(`#${id}`).remove()
                        })

                    let span = $('<span></span>')
                        .attr({ class: 'tag', id: `${val}` })

                    span.append(valspan)
                    span.append(x)

                    $('#tags').append(span)
                }

                $(this).val('');
            }
        })

        $('#add-subcats').click(function (event) {
            let val = $('#input-subcats').val()
            let dVal = val.replaceAll(' ', '-').toLowerCase()

            if (val && val.length <= 30) {
                let valspan = $(`<span>${val}</span>`)

                let x = $('<span>x</span>')
                    .attr({ class: 'subcat-x', id: `${dVal}-xsc` })
                    .click(function () {
                        let id = $(this).attr("id").replace('-xsc', '-sc')

                        $(`#${dVal}-sc`).remove()
                    })

                let span = $('<span></span>')
                    .attr({ class: 'subcat', id: `${dVal}-sc` })
                    .data('sc', dVal)

                span.append(valspan)
                span.append(' ')
                span.append(x)
                span.append('->')

                $('#subcats').append(span)
            }

            $('#input-subcats').val('');
        })

        $('#form').submit(function () {
            let tags = ""
            $('#tags .tag').each(function () {
                tags += $(this).attr('id') + ' '
                $('#hidden-tags').val(tags)
            })

            let subcats = ""

            $('#subcats .subcat').each(function () {
                subcats += $(this).data('sc') + ','
                $('#hidden-subcats').val(subcats)
            })
        })
    })
</script>

<div id="staff-post-form">
    <form action="/staff/post/{{ ptype }}" method="post" id="form">
        {% csrf_token %}
        <input name="title" placeholder="Title" required>
        <br>
        <label for="category">Category: </label>
        <select name="category" id="category">
            {% if ptype == "text" %}
            <option value="quote">Quote</option>
            <option value="article">Article</option>
            <option value="movie">Movie</option>
            <option value="album">Album</option>
            {% endif %}

            {% if ptype == "video" %}
            <option value="speech">Speech</option>
            {% endif %}
        </select>
        <br>
        <div id="subcats"></div>
        <input placeholder="Add Subcategories" id="input-subcats">
        <span id="add-subcats">Add Subcategory</span>
        <br>
        <textarea name="description" cols="40" rows="5" placeholder="Description"></textarea>
        <br>
        {% if ptype == "text" %}
        <textarea name="text" cols="40" rows="5" placeholder="Text" required></textarea>
        <br>
        <input name="image" placeholder="Image">
        {% endif %}
        {% if ptype == "video" %}
        <input name="src" placeholder="Video Link" required>
        <br>
        <input name="image" placeholder="Thumbnail/Image" required>
        <br>
        <label for="platform">Platform: </label>
        <select name="platform" id="platform">
            <option value="youtube">Youtube</option>
        </select>
        <br>
        {% endif %}
        <input name="subcats" id="hidden-subcats" hidden>
        <input name="tags" id="hidden-tags" hidden>
        <br>
        <label for="postsize">Post Size: </label>
        <select name="postsize" id="postsize">
            <option value="xsmall">X Small</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
            <option value="xlarge">X Large</option>
        </select>
        <br>
        <input type="submit" value="Post">
    </form>
    <br>
    <div id="tags"></div>
    <input placeholder="Add Tags" id="add-tags">
</div>


{% endblock %}