{% extends "layout.html" %}
{% load tag_extras %}

{% block body %}

<script>
    $(() => {
        $('.cat').click(function () {
            let w = window.location
            if (w.href.charAt(w.href.length - 1) == '/') {
                window.location += `${$(this).data('category')}`
            } else {
                window.location += `/${$(this).data('category')}`
            }
        })

        $('#order-by').on('change', async function() {
            $('#post-results').empty()

            await fetch(`/jsondata/cat/-/{{ category }}/${postInterval}/{{ cattype }}/${$('#order-by').val()}`)
                .then(response => response.json())
                .then(response => {
                    const results = response['res']
                    const liked = response['li']

                    if (results.length == 0) {
                        $('#load-more').remove()
                    }

                    for (const res of results) {
                        createPost(res, liked)
                    }
                })
        })
    })
</script>

<div class="cats" id="categories">
    {% for cat in cats %}
    <div class="cat" id="{{ cat }}-category" data-category="{{ cat }}">
        <h2 class="cat-title">{{ cats|keyvalue:cat }}</h2>
    </div>
    {% endfor %}
</div>
<h2 id="results-title">
    {% if cattype == "all" %}
    All posts
    {% else %}
    Posts under category: {{ category }}
    {% endif %}
</h2>

<label for="order">Order by: </label>
<select name="order" id="order-by">
    <option value="likes">Likes</option>
    <option value="newest">Newest</option>
    <option value="oldest">Oldest</option>
    <option value="random">Random</option>
</select>

{% include "results.html" %}

{% endblock %}