{% extends "layout.html" %}
{% load tag_extras %}

{% block body %}

<script>
    $(() => {
        $('.cat').click(function () {
            let w = window.location
            if (w.href.charAt(w.href.length - 1) == '/') {
                window.location += `${$(this).data('category')}`
            } else {
                window.location += `/${$(this).data('category')}`
            }
        })
    })
</script>

<div class="cats" id="categories">
    {% for cat in cats %}
    <div class="cat" id="{{ cat }}-category" data-category="{{ cat }}">
        <h2 class="cat-title">{{ cats|keyvalue:cat }}</h2>
    </div>
    {% endfor %}
</div>
<h2 id="results-title">
    {% if cattype == "all" %}
    All posts
    {% else %}
    Posts under category: {{ category }}
    {% endif %}
</h2>

{% include "order.html" %}
{% include "results.html" %}

{% endblock %}