{% extends "layout.html" %}


{% block body %}

{% if authenticated %}
{% include "info.html" %}
{% endif %}

<form action="/forgotpassword/change" method="post">
    {% csrf_token %}
    {% if authenticated %}
    <input name="username" placeholder="Username" value="{{ username }}" hidden>
    <input name="email" placeholder="Email" value="{{ email }}" hidden>

    <input name="new-pw" placeholder="Password" type="password" class="password" value="{{ pw }}">
    <br>
    <input name="verify-new-pw" placeholder="Password Again" type="password" class="password" value="{{ verify_pw }}">
    <input type="checkbox" id="password-checkbox">Show Passwords
    <br>
    <input name="set_password" type="submit" value="Set New Password">
    {% else %}
    <input name="username" placeholder="Username" value="{{ username }}">
    <br>
    <input name="email" placeholder="Email" value="{{ email }}">
    <br>
    <input name="code" type="number" placeholder="CODE">
    <br>
    <input name="check_code" type="submit" value="Verify Code">
    {% endif %}
</form>

{{ message }}

{% endblock %}