{% extends "layout.html" %}

{% block body %}

<form action="/forgotpassword" method="post">
    {% csrf_token %}
    {% if code_sent %}
        <input name="email" hidden value="{{ email }}">
        <input name="code" type="number" placeholder="CODE">
        <br>
        <input name="check_code" type="submit" value="Verify Code">
    {% else %}
        <input name="email" placeholder="Email" value="{{ email }}">
        <br>
        <input name="send_code" type="submit" value="Send Password Reset Code">
    {% endif %}
</form>

{{ message }}

{% endblock %}