{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aaron</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
        <script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            let authenticated = '{{ user.is_authenticated }}'
            let notiMin = 0
            let notiMax = 5

            let expandNoti = async () => {
                await fetch(`/jsondata/notifications/${notiMin}/${notiMax}`)
                .then(response => response.json())
                .then(response => {
                    if (!response.length) {
                        $('#load-notifications').addClass('hidden')
                    } else {
                        for (const noti of response) {
                            let notification = $('<tr></tr>')
                            .html(`${noti[0]} <b>${noti[1]}</b>`)
                            $('#load-notifications').before(notification)
                        }
                    }
                })
            }

            $(() => {
                expandNoti()
                $('#notification-bell').click(function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected')
                    } else {
                        $(this).addClass('selected')
                    }
                    $('.notification-popup').notificationFade()
                })

                $('#load-notifications').click(function () {
                    notiMin += 5
                    notiMax += 5
                    expandNoti()
                })

                $('.post-like').each(function() {
                    $(this).click(async function () {
                        let category = $(this).attr('id').split('-')[0]
                        let id = $(this).attr('id').split('-')[2]
                        let icon = $(this).children('.like-icon')
                        let type = ''
                        
                        if (icon.attr('data-like') == 'unliked') {
                            icon.html('Unlike')
                            icon.attr('data-like', 'liked')
                            type = 'like'
                        } else if (icon.attr('data-like') == 'liked') {
                            icon.html('Like')
                            icon.attr('data-like', 'unliked')
                            type = 'unlike'
                        }

                        const response = await fetch(window.location.href, {
                            method: "PUT",
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            body: JSON.stringify({
                                'id': id,
                                'type': type,
                                'category': category
                            })
                        })
                    })
                })

                $('.post-body-redirect').click(function() {
                    window.location = `/post/${$(this).attr('data-postid')}`
                })

                $.fn.notificationFade = function() {
                    return this.animate({ opacity: 'toggle', height: 'toggle'}, 'fast')
                }
            })
        </script>
    </head>
    <body>
        <div id="header">
            <h1>Aaron</h1>
            {% if user.is_authenticated %}
            <a href="/feed">Feed</a>
            <a href="/account">Account</a>
            <div class="notifications">
                <t class="notification-popup" id="notifications">
                    <a id="load-notifications">Load More</a>
                </t>
                <h3 id="notification-bell">Notifications</h3>
            </div>
            {% endif %}
        </div>
        
        {% block body %}
        {% endblock %}
    </body>
</html>