{% extends "layout.html" %}

{% block body %}

{% include "info.html" %}

<div id="info-body">
    <div class="i-form">

        <form action="/login" method="post" autocomplete="on">
            {% csrf_token %}
            <input name="username" placeholder="Username/Email" class="index-input ii-big">
            <br>
            <input name="password" placeholder="Password" type="password" class="password index-input ii-big">
            <br>
            <div id="show-pw">
                <span id="show-pw-t">show password</span><input type="checkbox" id="password-checkbox">
            </div>
            <br>
            <span id="show-pw-t">remember me</span><input name="remember-me" type="checkbox">
            <br><br>
            <input type="submit" value="Log In" class="index-submit">
        </form>
    </div>
  
    <div class="e-message">
      {{ message }}
    </div>
    <br>
    <a href="/forgotpassword" class="index-link-alt">Forgot Password?</a>
    <br><br><br>
    <a href="/signup" class="index-link-alt">Don't have an account?</a>
</div>
{% endblock %}