<script>
    $(() => {
        $('#order-by').on('change', async function() {
            $('#post-results').empty()

            let url
            if (qtype == 'cat') {
                url = `/jsondata/cat/-/{{ category }}/${postInterval}/{{ cattype }}/${$('#order-by').val()}`
            } else if (qtype == 'fav') {
                url = `/jsondata/fav/-/${postInterval}/${$('#order-by').val()}/fav`
            }
            await fetch(url)
                .then(response => response.json())
                .then(response => {
                    postids = []

                    const results = response['res']
                    const liked = response['li']

                    if (results.length == 0) {
                        $('#load-more').remove()
                    }

                    for (const res of results) {
                        createPost(res, liked)
                    }
                })
        })
    })
</script>

<label for="order">Order by: </label>
<select name="order" id="order-by">
    {% if qtype == "fav" %}
    <option value="recentliked">recently liked</option>
    <option value="oldestliked">oldest liked</option>
    {% endif %}
    <option value="likes">likes</option>
    <option value="newest">newest</option>
    <option value="oldest">oldest</option>
    <option value="random">random</option>
</select>