{% extends "layout.html" %}

{% block body %}

{% include "info.html" %}

<script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>

<script>
    grecaptcha.ready(() => {
      grecaptcha.execute('{{recaptcha_site_key}}', {action: "/signup"}).then((token) => {
        document.getElementById('g-recaptcha-response').value = token;
      });
    });
</script>

<div id="info-body">
  <div class="i-form">
    <form action="/signup" method="post">
        {% csrf_token %}
        <input name="username" placeholder="Username" value="{{ username }}" class="index-input ii-big">
        <br>
        <input name="password" placeholder="Password" type="password" value="{{ password }}" class="password index-input ii-big">
        <br>
        <div id="show-pw">
          <input type="checkbox" id="password-checkbox"><span id="show-pw-t">show password</span>
        </div>
        <br>
        <input name="email" placeholder="Email" value="{{ email }}" class="index-input ii-big">
        <br>
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"> 
        <br>
        <input type="submit" value="Sign Up" class="index-submit">
    </form>
  </div>

  <div class="e-message">
    {{ message }}
  </div>
  
  <a href="/login" class="index-link-alt">Already have an account?</a>
</div>

{% endblock %}